@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

/* primary color for the application */

@theme{
  --color-primary:#5044E5;
}

/* this does not lets tailwind css to get applied across the application */
.reset-tw, .reset-tw *{
  all:revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
